@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@500&display=swap');

body {
    min-width: 300px;
    max-width: 1920px;
    margin: 0;
}


header {
    background-color: black;
    color: white;
    width:100%;
    height: 350px;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 5.5rem;
    font-family: 'Anton', sans-serif;
}

header p {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

section {
    background-color:rgba(255, 255, 255, 0);
    width: 100%;
    height: 700px;
    margin: 2px;
    padding: 60px;
    font-size: 2rem;
    text-align: left;
}

section p {
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    padding:30px;
    text-align: left;
    text-indent: unset;
    font-family: 'Comfortaa', cursive;
}


#img1 {
    color: white;
    background-image: url(imagens/background001.jpg);
    background-position: left center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
}

#img1 p {
    background-color: rgba(0, 0, 0, 0.205);
    height: 50%;
    width: 50%;
}


#img2 {
    color: white;
    background-image: url(imagens/background002.jpg);
    background-position: left center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
}
}

#img2 p {
    background-color: rgba(0, 0, 0, 0.205);
    height: 50%;
    width: 50%;
}

footer {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif   ;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}
